# קבצי הרצה (Compiled files)
*.exe
*.out
*.app

# Heavy original assets
assets/GameOriginalAssets/
assets/model/Enivorment/*.glb

# קבצי אובייקט וספריות (Object files & Libraries)
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib

# תיקיות של ה-Compiler או VS Code
.vscode/
build/
bin/
obj/

# קבצים זמניים
*.log
*.tmp